
.Profile {
    background: linear-gradient(to bottom right, #77c9d4,#57bc90);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;

}
.profileContentHolder {
    padding-top: 70px;
    display: flex;
    justify-content: center;

}
/* ALL PROFILE CONTENT SECTIONS */
.profileContent {
    min-height: calc(100vh - 70px);
    max-width: 1450px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
@media (max-width:800px) {
    .profileContent {
        justify-content: space-between;
    }
}


/* CENTER PROFILE SECTION */
.centerProfileHolder {
    width: 50%;
    color: #414141;
    /* background: linear-gradient(to bottom right, #77c9d4, #57bc90); */
    
}
.centerSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 25vh;
    background: white;
    transition: .6s;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border: solid 3px white;
    position: relative;
}
.topSectionProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.profileHeader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    /* background: linear-gradient(to bottom right, #77c9d4,#57bc90,#77c9d4); */
    background-image: url('./coverPhoto.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    transition: .5s;
    margin-bottom: 60px;
}

.centerSectionHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    margin-top: 2px;
    height: 30px;
    background: #eee;
    border-radius: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
}
/* about section ------------ */
.AboutInfoHolder {
    margin-top: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 80%;
    font-size: 14pt;
    word-wrap: break-word;
}
.darkened {
    background: #d4d4d4;
}
.editAboutHolder {
    width: 80%;
    min-height: 70%;
    border-radius: 4px;
    margin-top: 50px;
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    margin-left: 10%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    
}
.hideAbout {
    display: none;
}
.aboutBtnHolder {
    position: absolute;
    display: flex;
    right: 0;
    justify-content: flex-end;
    
}
.aboutBtn {
    user-select: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14pt;
    background: rgba(255, 255, 255, 0.397);
    width: 50px;
    border-radius: 2px;
    line-height: 16pt;
    cursor: pointer;
    transition: .1s;
    margin-right: 5%;
}

.aboutBtn:hover {
    background: white;
    font-size: 16pt;
}
.aboutBtn:active {
    font-size: 14pt;
    background: rgba(255, 255, 255, 0.397);
}
.cancel_saveHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width:800px) {
    .profileHeader {
        height: 175px;
    }
}
@media (max-width:500px) {
    .profileHeader {
        height: 150px;
    }
}
.profileImgHolder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background: white;
    transition:.2s;
}

.profileImgHolder img:hover {
    opacity: .9;
    transform: scale(1.05);
}
.profileHeader img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 2px white;
    transition: .1s;
}
.topProfileInfo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.topProfileInfo h3 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24pt;
}
.topProfileInfo p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}




/* LEFT AND RIGHT SECTIONS */

.profileSideHolder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 23%;
    margin: 0px;
}

.profileSideSection {
    margin-top: 10px;
    background: white;
    color: #414141;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: .3s;
    width: 100%;
    min-height: 192px;
    border: solid 4px white;
    position: relative;
}

.sideSectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 30px;
    width: 100%;
    background: #eee;
    border-radius: 3px;
}

.sideSectionHeader h4 {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
}
/* left section */
.addToList {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    bottom: 0;
    position: absolute;
}
.careerTextStyle {
    width: 70%;
    max-width: 200px;
}
.saveListItemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color:#57BC90;
    width: 20%;
    height: 30px;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    cursor: pointer;
    font-size: 12pt;
    transition: .1s;
    user-select: none;
}
.saveListItemBtn:hover {
    background: #fff;
    background: #bababa;
    color: white;
}
.saveListItemBtn:active {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    font-size: 10pt;
}


/* right section */
/* favorite section */
.favoriteCollegesHolder {
    overflow-y: auto;
    width: 100%;
    max-height: calc(90vh - 70px);
}
.favItem {
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 5%;
    overflow-x: hidden;
}
.favItem li {
    color: #414141;
    word-wrap: normal;
    height: 20px;
    background: white;
    overflow-y: hidden;
}
.favItem a{
    color: #57BC90;
    text-decoration: none;
    font-size: 10pt;
    transition: .7s;
    font-family: 'Open Sans Condensed', sans-serif;
   
}
.favItem:hover a {
    color: #414141;
    transition: .2s;
}
.favItem a:active {
    color: #414141;
}

/* desktop section */
@media (min-width:800px) {

    .rightSideSection {
        min-height: 400px;
        
    }
    .leftSide {
        margin-left: 15px;
        width: calc( 23% - 15px);
    }
    .rightSide {
        margin-right: 15px;
        width: calc( 23% - 15px);
    }
    .leftSide {
    left: 0;
    position: fixed;
}
.rightSide {
    right: 0;
    position: fixed;
    }
}
/* mobile and tablet section */
@media (max-width: 800px) {
    .profileContent {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
    }
    .profileSideSection {
        width: 48%;
    }
    .profileSideHolder {
        width: 90vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        order: 2;
    }
   
    .sideSectionHeader {
        border: none;
    }
    .centerProfileHolder {
        width: 90vw;
        max-width: 100vw;
    }
    .favItem {
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 5%;
}
    .favItem li {
    color: #414141;
    word-wrap: normal;
    height: 30px;
    background: white;
}
    .favItem a{
    color: #57BC90;
    text-decoration: none;
    font-size: 16pt;
    transition: .7s;
    font-family: 'Open Sans Condensed', sans-serif;
   
    }
    .profileSideHolder {
        flex-direction: column;
    }
     .profileSideSection {
        width: 100%
    }
    .rightSideSection {
        width: 100%;
    }
    
}