.StudentProfile {
    background: linear-gradient(to bottom right, #77c9d4,#57bc90);
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;

}
.admin_profileContentHolder {
    padding-top: 70px;
    display: flex;
    justify-content: center;

}
/* ALL PROFILE CONTENT SECTIONS */
.admin_profileContent {
    min-height: calc(100vh - 70px);
    max-width: 1250px;
    width: 100vw;
    /* background: rgba(255, 255, 255, 0.192); */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    
}



/* CENTER PROFILE SECTION */
.admin_centerProfileHolder {
    width: 50%;
    color: #414141;
    /* background: linear-gradient(to bottom right, #77c9d4, #57bc90); */
    
}
.admin_centerSection {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: white;
    margin-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 30vh;
    background: white;
    transition: .6s;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border: solid 3px white;
    position: relative;
}
.admin_topSectionProfile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.admin_profileHeader {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    height: 200px;
    /* background: linear-gradient(to bottom right, #77c9d4,#57bc90,#77c9d4); */
    background-image: url('../Profile/coverPhoto.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    transition: .5s;
    margin-bottom: 60px;
}

.admin_centerSectionHeader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 4px);
    margin-top: 2px;
    height: 30px;
    /* border: solid 1px #A5A5AF; */
    background: #eee;
    border-radius: 3px;
    font-family: 'Amatic SC', cursive;
    font-size: 20pt;
}
.admin_AboutInfoHolder {
    margin-top: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    width: 80%;
    font-size: 14pt;
    word-wrap: break-word;
}


@media (max-width:800px) {
    .admin_profileHeader {
        height: 175px;
    }
}
@media (max-width:500px) {
    .admin_profileHeader {
        height: 150px;
    }
}
.admin_profileImgHolder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    background: white;
    transition:.2s;
}

.admin_profileImgHolder img:hover {
    opacity: .9;
    transform: scale(1.05);
}
.admin_profileHeader img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 2px white;
    transition: .1s;
}
.admin_topProfileInfo {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.admin_topProfileInfo h3 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24pt;
}
.admin_topProfileInfo p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans Condensed', sans-serif;
}


@media (min-width: 1450px){
    .admin_favorites {
        right: 4vw;
        transition: 1s;
    }
}

@media (max-width: 800px) {
    .admin_profileContent {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
    }
    .admin_centerProfileHolder {
        width: 90vw;
        
        max-width: 100vw;

    }
}

.admin_skills {
    margin-bottom: 25px;
}