.Loading{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: #424242;
}
.loader {
    border: 6px solid #424242; /* Light grey */
    border-top: 6px solid #3feee6; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(240deg); }
    100% { transform: rotate(360deg); }
}