@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300');

.Footer {
    min-height: 400px;
    background: #414141;
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 60px;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.3);
}
/* **********************LEFT SECTION************************** */
.leftTitle {
    color: #eee;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    /* background-color: blue; */
}
.leftSection {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    border-right: thin solid #eee;
}
.leftContent {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
    font-size: 40px;
}
.leftContent a {
    color: #eee;
    text-decoration: none;
}
.leftContent a :hover {
    font-size: 60px;
    transition: 0.165s;
}
/* **********************MID SECTION************************** */
.midTitle {
    color: #eee;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
}
.midSection {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}
.midContent {
    margin-top: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-right: 6px;
    margin-left: 6px;
}


/* ****************RIGHT SECTION******************************* */
.rightTitle {
color: #eee;
font-family: 'Amatic SC', cursive;
font-size: 25px;
}
.rightSection {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    border-left: thin solid #eee;
}
.rightContent {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: left;
    margin-left: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}
.rightContent a {
    margin-top: 20px;
    text-decoration: none;
    color: #eee;
}

@media (max-width: 800px) {
    .Footer {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 100vw;
    }
    .leftContent {
        margin-top: 0px;
        border-bottom: thin solid #eee;
    }
    .leftSection {
        border: none;
    }
    .midContent {
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 60vw;

    }
    .rightContent {
        border: none;
    }
    .rightSection {
        border: none;
        align-items: center;
        justify-content: center;
    }
}













/* .footerItemsHolder {
height: 80%;
width: 100vw;
max-width: 1250px;
display: flex;
justify-content: space-around;
align-items: center;
color: #eee;
}
.leftSection{
    display: flex;
    flex-direction: column;
    background-color: red;
}

.fa fa-facebook-square {
    color: white;
}
.leftFooterSectionHeader{
    justify-content: flex-start;
}

.footerItemsHolder a {
    text-decoration: none;
    color: #eee;
    cursor: pointer;
}
.footerItemsHolder a:hover {
    color: red;
}

.middleSection {
    display: flex;
    flex-direction: column;
    width: 110vw;
}

.footerSection {
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.footerSection:nth-child(2) {
    border-left: thin solid #eee;
}
.footerSection:nth-child(1) {
    border-left: thin solid #eee;
}

@media (max-width: 800px) {
    .Footer {
        height: 400px;
        max-width: 100vw;
        height: 400px;
    }
} */