@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Open+Sans+Condensed:300');

.backgroundVideo {
display: flex;
justify-content: space-around;
align-items: center;
align-content: center;
flex-direction: row;
z-index: -1;
overflow: hidden;
height: 100vh;
width: 100vw;





} 
.wholeScreen {
    
   position: absolute;
    
    z-index: 0;
    height: 80vh;
    width: 80vw;
    background: linear-gradient(to bottom right, #77c9d4 , #57bc90 );
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.boxes {
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
height: 80vh;
width: 80vw;
}
.infoSide {
    z-index: 1;
    top:0;
   
    height: 50vh;
    width: 30vw;
    display: flex;
   
    align-content: center;
    align-items: center;
    flex-direction: column;
    
    color: white;
    border-right: solid white 1px;
    
}
/* .divider {
    height: 50vh;
    width: 3px;
    background-color: #414141;
    
    z-index: 3;
} */
.loginSide {
    height: 50vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    border-left: solid white 1px;
    z-index: 2;
}
.loginButton {
    height: 10vh;
    width: 20vw;
    font-size: 20px;
    border-radius: 5px;
    background: #eee;
    border: solid 1px rgb(178, 178, 178);
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Open Sans Condensed', sans-serif;
    
    
}

.title{
    font-size: 10vh;
    margin-right: 1vw;
}
.subTitle{
    margin-top: -4vh;
    font-family: 'Amatic SC', cursive;
    font-size: 5vh;
    padding-bottom: 5vh;
    margin-right: 1vw;
    
}
.about {
    margin-right: 1vw;
    font-family: 'Open Sans Condensed', sans-serif;
    
}
.logoPhoto {
    height:25vh;
    width: 15vw;
}
